<div>
    <h2>
        <span jhiTranslate="twentyOnePointsApp.bloodpressure.home.title">Bloodpressures</span>
        <button class="btn btn-primary float-right jh-create-entity create-bloodpressure" [routerLink]="['/', { outlets: { popup: ['bloodpressure-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="twentyOnePointsApp.bloodpressure.home.createLabel">
            Create new Bloodpressure
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'twentyOnePointsApp.bloodpressure.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="bloodpressures">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dateTime"><span jhiTranslate="twentyOnePointsApp.bloodpressure.dateTime">Date Time</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="systolic"><span jhiTranslate="twentyOnePointsApp.bloodpressure.systolic">Systolic</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="diastolic"><span jhiTranslate="twentyOnePointsApp.bloodpressure.diastolic">Diastolic</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="user.login"><span jhiTranslate="twentyOnePointsApp.bloodpressure.user">User</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bloodpressure of bloodpressures ;trackBy: trackId">
                <td><a [routerLink]="['../bloodpressure', bloodpressure.id ]">{{bloodpressure.id}}</a></td>
                <td>{{bloodpressure.dateTime | date:'medium'}}</td>
                <td>{{bloodpressure.systolic}}</td>
                <td>{{bloodpressure.diastolic}}</td>
                <td>
                    {{bloodpressure.user?.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../bloodpressure', bloodpressure.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bloodpressure/'+ bloodpressure.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bloodpressure/'+ bloodpressure.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="bloodpressures && bloodpressures.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
