
<div *ngIf="bloodpressure">
    <h2><span jhiTranslate="twentyOnePointsApp.bloodpressure.detail.title">Bloodpressure</span> {{bloodpressure.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="twentyOnePointsApp.bloodpressure.dateTime">Date Time</span></dt>
        <dd>
            <span>{{bloodpressure.dateTime | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="twentyOnePointsApp.bloodpressure.systolic">Systolic</span></dt>
        <dd>
            <span>{{bloodpressure.systolic}}</span>
        </dd>
        <dt><span jhiTranslate="twentyOnePointsApp.bloodpressure.diastolic">Diastolic</span></dt>
        <dd>
            <span>{{bloodpressure.diastolic}}</span>
        </dd>
        <dt><span jhiTranslate="twentyOnePointsApp.bloodpressure.user">User</span></dt>
        <dd>
            {{bloodpressure.user?.login}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'bloodpressure/'+ bloodpressure.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
