<div class="row">
	<div class="col-sm-8">
	    <h2 jhiTranslate="twentyOnePointsApp.points.home.title">Points </h2>
	</div>   
	<div class="col-sm-4 text-right">
        <button class="btn btn-primary float-right jh-create-entity create-points" [routerLink]="['/', { outlets: { popup: ['points-new'] } }]" [ngbTooltip]="addTooltip" placement="bottom">
            <span class="fa fa-plus"></span>
            <ng-template #addTooltip>            
	            <span jhiTranslate="twentyOnePointsApp.points.home.createLabel">Add Points
	            </span>
	        </ng-template>
        </button>
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mr-1">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'twentyOnePointsApp.points.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="points">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="date"><span jhiTranslate="twentyOnePointsApp.points.date">Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="exercise"><span jhiTranslate="twentyOnePointsApp.points.exercise">Exercise</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="meals"><span jhiTranslate="twentyOnePointsApp.points.meals">Meals</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="alcohol"><span jhiTranslate="twentyOnePointsApp.points.alcohol">Alcohol</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="notes"><span jhiTranslate="twentyOnePointsApp.points.notes">Notes</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="user.login"><span jhiTranslate="twentyOnePointsApp.points.user">User</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let points of points ;trackBy: trackId">
                <td><a [routerLink]="['../points', points.id ]">{{points.id}}</a></td>
                <td>{{points.date | date:'mediumDate'}}</td>
                
                <td class="text-center">
                	<i class="fa fa-{{points.exercise ? 'check text-success' : 'times text-danger'}}" aria-hidden="true"></i>
                </td>
                 <td class="text-center">
                	<i class="fa fa-{{points.meals ? 'check text-success' : 'times text-danger'}}" aria-hidden="true"></i>
                </td>
                 <td class="text-center">
                	<i class="fa fa-{{points.alcohol ? 'check text-success' : 'times text-danger'}}" aria-hidden="true"></i>
                </td>
                <td>{{points.notes}}</td>
                <td>
                    {{points.user?.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../points', points.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'points/'+ points.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'points/'+ points.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="points && points.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
