<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myWeightLabel" jhiTranslate="twentyOnePointsApp.weight.home.createOrEditLabel">Create or edit a Weight</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!weight.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="weight.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="twentyOnePointsApp.weight.dateTime" for="field_dateTime">Date Time</label>
            <div class="d-flex">
                <input id="field_dateTime" type="datetime-local" class="form-control" name="dateTime" [(ngModel)]="weight.dateTime"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="twentyOnePointsApp.weight.weight" for="field_weight">Weight</label>
            <input type="number" class="form-control" name="weight" id="field_weight"
                [(ngModel)]="weight.weight"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="twentyOnePointsApp.weight.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="weight.user" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id === weight.user?.id ? weight.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
